[Unit]
Description=Start WLAN0 supplicant
After=systemd-networkd.service

[Service]
Type=simple
ExecStart=/usr/sbin/wpa_supplicant -Dnl80211 -iwlan0 -c/etc/wpa_supplicant.conf

[Install]
WantedBy=network.target
